<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#"><h3>Laboratory</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" *ngIf="!service.getToken()" routerLink="login">Login</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" *ngIf="service.getAdmin()" routerLink="register">Register</a>
        </li>
<!-- 
          <li class="nav-item active">
            <a class="nav-link" href="#" *ngIf="service.getAdmin()" routerLink="entersample/:id">Enter Samples</a>
          </li> -->

          <li class="nav-item active">
            <a style="position: absolute;right:115px;" class="nav-link" *ngIf="service.getToken()" (click)="logout()" href="/login"><b>Logout</b></a>
    
          </li>
          
      </ul>
    </div>
  </nav>



  
  <router-outlet></router-outlet>