<div class="container"></div>
<form action="/products/edit-product" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Product ID</label>
    <input type="hidden" class="form-control" id="_id" name="_id" aria-describedby="emailHelp" value="{{selectedProduct._id}}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Product Name</label>
        <input type="text" class="form-control" id="pName" name="pName" aria-describedby="emailHelp" value="{{selectedProduct.pName}}">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Product Description</label>
        <input type="text" class="form-control" id="pDesc" name="pDesc" aria-describedby="emailHelp"  value="{{selectedProduct.pDesc}}">

  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Product Price</label>
        <input type="text" class="form-control" id="pPrice" name="pPrice" aria-describedby="emailHelp"  value="{{selectedProduct.pPrice}}">

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>