#eye{
    margin-top: -30px;
    margin-left: 30%;
    position: absolute;
}
#form{
    margin-top: 30px;
    margin-left: 35%;
}
h5{
    margin-top: 100px;
    margin-left: 35%;
}
#login{
    margin: top 30px;
    margin-left: 43%;
}
#icon{
    margin-left: 180px;
}