<!-- <h5 class="pratik">hh</h5> -->
<form id="form" [formGroup]="regForm" (ngSubmit)="adminlogin()"> 
    <div class="form-group">
      <span class="fa-solid fa-airplay" id="icon"></span>
      <input type="email" class="form-control "  aria-describedby="emailHelp" placeholder="Enter your Email" style="width:50%"  name="email" formControlName="email">
      <span style="color: red;" *ngIf="email?.invalid && email?.touched">Please enter a valid email </span>
    </div>
    <div class="form-group">
      <input [type]="val" class="form-control"  placeholder="Enter your Password" style="width:50%"  name="password" formControlName="password">
      <span  id="eye"><i (click)="toggle()" [class]="eye"></i></span>
      <span style="color: red;" *ngIf="password?.invalid && password?.touched">Please enter a valid password </span>
    </div>
    <button type="submit" class="btn btn-primary" id="login">Login</button>
  </form>








  <h5 class="pratik">hh</h5>