<h3>Welcome To Login Portal</h3>
<div class="container">
<div class="col-md-3">
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uemail" formControlName="uemail">
      <span style="color: red;" *ngIf="uemail?.invalid && uemail?.touched">Please enter a valid email </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="upass" formControlName="upass">
      <span style="color: red;" *ngIf="upass?.invalid && upass?.touched">Please re-enter a valid password </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label"> Confirm Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="uCpass" formControlName="uCpass">
      <span style="color: red;" *ngIf="uCpass?.invalid && uCpass?.touched">Please enter a valid password </span>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
