<p>registration works!</p>
<form [formGroup]="registrationForm" (submit)="registration()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email"  class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" name="uemail" formControlName="uemail">
      <span style="color: red;" *ngIf="uemail?.invalid && uemail?.touched">Enter a Valid Email</span>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control"  id="exampleInputPassword1" name="upass" formControlName="upass">
      <span style="color: red;" *ngIf="upass?.invalid && upass?.touched">Enter a valid Password</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>